::selection {
  background-color: #f8f800;
  color: #fff; }

@keyframes loadingscreen-animation {
  0% {
    transform: scale(0);
    opacity: 1; }
  50% {
    transform: scale(1.2);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes pulsate {
  0% {
    transform: scale(0.925); }
  50% {
    transform: scale(1.025); }
  100% {
    transform: scale(0.925); } }

@keyframes upanddown-chicken {
  0% {
    transform: translate(-50%, -47%); }
  50% {
    transform: translate(-50%, -52%); }
  100% {
    transform: translate(-50%, -47%); } }

@font-face {
  font-family: Sugarpunch;
  src: url("../resources/Sugarpunch.otf"); }

@font-face {
  font-family: Badaboom;
  src: url("../resources/Badaboom.ttf"); }

@font-face {
  font-family: UnicornPop;
  src: url("../resources/UnicornPop.ttf"); }

h1, h2, h3, h4 {
  font-family: UnicornPop;
  text-transform: uppercase;
  color: black;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: red;
  line-height: .9; }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 5rem; }

.header {
  height: 70vh; }
  .header__logo {
    width: 85rem;
    height: 85rem;
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__logo__svgs {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: inherit;
      width: inherit; }
      .header__logo__svgs__svg {
        position: absolute;
        width: 100%;
        height: 100%; }
        .header__logo__svgs__svg-1 {
          z-index: 5; }
        .header__logo__svgs__svg-2 {
          animation: spinreverse 12s linear infinite;
          z-index: 4; }
        .header__logo__svgs__svg-3 {
          animation: spin 12s linear infinite;
          z-index: 3; }
        .header__logo__svgs__svg-4 {
          animation: spinreverse 12s linear infinite;
          z-index: 2; }
        .header__logo__svgs__svg-5 {
          animation: spin 12s linear infinite;
          z-index: 1; }
    .header__logo__maintitle {
      position: absolute;
      width: 100%;
      top: 45%;
      z-index: 6;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      -webkit-text-fill-color: red;
      -webkit-text-stroke-width: 4px;
      animation: pulsate 5s ease-in-out infinite; }
      .header__logo__maintitle * {
        line-height: .7;
        letter-spacing: -3px;
        z-index: inherit; }
    .header__logo__chicken {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50%;
      width: 50%;
      animation: upanddown-chicken 5s ease-in-out infinite; }

.loadingscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  overflow: hidden;
  background-color: #f8c800; }
  .loadingscreen__svgs {
    width: 80rem;
    height: 80rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .loadingscreen__svgs__svg {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .loadingscreen__svgs__svg-1 {
        z-index: 5;
        animation: loadingscreen-animation .9s ease-out forwards; }
      .loadingscreen__svgs__svg-2 {
        z-index: 4;
        animation: loadingscreen-animation .9s ease-out .3s forwards; }
      .loadingscreen__svgs__svg-3 {
        z-index: 3;
        animation: loadingscreen-animation .9s ease-out .6s forwards; }
      .loadingscreen__svgs__svg-4 {
        z-index: 2;
        animation: loadingscreen-animation .7s ease-out .9s forwards; }
      .loadingscreen__svgs__svg-5 {
        z-index: 1;
        animation: loadingscreen-animation .6s ease-out 1.2s forwards; }

.static-logo {
  z-index: 1000;
  position: fixed;
  left: 3rem;
  top: 3rem;
  height: 10rem;
  width: 12rem; }
  .static-logo * {
    width: 100%;
    height: 100%; }

section {
  height: 50vh; }
  section:nth-child(even) {
    background-color: #f8c800; }

.quote {
  padding: 10rem 20rem; }
  .quote__h2 {
    display: block;
    margin: 0 auto; }
    .quote__h2__span {
      display: block;
      margin-top: 5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; force actual height = height actual wedth = width   */
  box-sizing: inherit;
  /* Box-sizing is not an inherited value by default and therefore we need to explicitly set it if we want to use it for all elements. The border-box value is set in the body already */ }

html {
  font-size: 62.5%;
  /* It is good practice to set the default html font size to a percentage since there is people who have set their default dont size to something bigger ( bad sight), and therefore using a relative measurement here we can make the entirepage ( since we are basing size on REM ) relative to the user specific needs */ }

body {
  box-sizing: border-box;
  overflow: hidden; }

.lerp-static {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden; }
