.page-footer{

   background-color: $color-primary-1;

   .page-footer__ul{

      display:flex;
      justify-content: space-around;
      align-items: center;
      height: auto;
      padding: 5rem 0 15rem 0;
      list-style: none;;

      @media only screen and (max-width:500px) {
         flex-direction: column;
         
      };    
      li{
         margin:2rem 0;
         a{
            &:link,
            &:visited{
               text-decoration: none;
          
            }
         }
         &:hover{
          transform: scale(1.2)
   
         }
      }

   }


}