


.header {
   height: 70vh;
   background-color: $color-primary-1;

   &__logo{
      
      width:85rem;
      height:85rem;
      position:absolute;
      top:30rem;
      left:50%;
      transform: translate(-50%,-50%);


   &__svgs{
      @include centerHorizontalVertical;
      height: inherit;
      width: inherit;
      &__svg{
      //position: absolute;
      position:absolute;
      
      
      width:100%;
      height:100%;
      //opacity: 0;
      
      &-1{
         z-index:5;
       //  animation: loadingscreen-animation .9s ease-out forwards;
      }
      &-2{
         animation:spinreverse 12s linear infinite;
         z-index:4;
       //  animation: loadingscreen-animation .9s ease-out .3s forwards; 
      }
      &-3{
         animation:spin 12s linear infinite;
         z-index:3;
       //  animation: loadingscreen-animation .9s ease-out .6s forwards; 
      }
      &-4{
         animation:spinreverse 12s linear infinite;
         z-index:2;
       //  animation: loadingscreen-animation .7s ease-out .9s forwards; 
      }
      &-5{
         animation:spin 12s linear infinite;
         z-index:1;
      
      }
      }

   }

   &__maintitle{
      position:absolute;
      width:100%;
      //height: 100%;
      top: 45%; 
      z-index: 6;
      display:flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      -webkit-text-fill-color: red;
      -webkit-text-stroke-width: 4px;
      animation: pulsate 5s ease-in-out infinite;
   *{
      line-height: .7;
      letter-spacing: -3px;
      z-index: inherit;
   }
   }

   &__chicken{
      position:absolute;
      top:48%;
      left:50%;
      transform: translate(-50%,-50%);
      height:50%;
      width:50%;
      animation: upanddown-chicken 5s ease-in-out infinite;
   }

}

}
