.intro{

   height:auto;
   padding:10rem 0;
   &__h2{
      display: inline-block;
      margin-top: 6rem;
      margin-left:6rem;
      width:45vw;
      span{
         font-size: 7rem;
         display: inline-block;
         //animation: upanddown-chicken 5s ease-in-out infinite;
         // make a new one here
         -webkit-text-stroke-width: 4px;
         animation:  upanddown 1s ease-in-out infinite;
        
      }
      
   }


   &__story1{

      display:flex;
      align-items: center;
      justify-content: space-around;
      margin-top:10rem;
      
      &__p{

         width: 40vw;

      }

      &__container{
         border: 2rem solid black;
         border-radius: 5px;
         overflow: hidden;
         &__png{

            height: 40rem;
           
            transform:translate(-5%, 5%);
            transition: all 2s linear;
            
       
            
   
         }

      }
    
   }

}

