.intro{

   height:auto;
   padding:10rem 0;


   &__h2{
      
      display: inline-block;
      margin-top: 6rem;
      margin-left:6rem;
      width:45vw;
      position: relative;

      @media only screen and (max-width:900px) {
         text-align: center;
         }; 

         @media only screen and (max-width:550px) {
            width: 70vw;
         };       
      @media only screen and (max-width:950px) {
         margin-left: 0; 
         display:block;
         margin: 0 auto;
       }; 
   }

   &__h1{
      font-size: 7rem;
      margin-left:6rem;
      //animation: upanddown-chicken 5s ease-in-out infinite;
      // make a new one here
      -webkit-text-stroke-width: 4px;
      animation:  upanddown 1s ease-in-out infinite;

      @media only screen and (max-width:950px) {
         margin-top:5rem;
         margin-left: 0; 
         text-align:center;
       }; 

       @media only screen and (max-width:550px) {
         font-size: 5rem;
        
            };
             
            @media only screen and (max-width:400px) {
               font-size: 4rem;
          -webkit-text-stroke-width: 2px;
            }; 

   }


   &__story1{

      display:flex;
      align-items: center;
      justify-content: space-around;
      margin-top:10rem;
      
      @media only screen and (max-width:900px) {
       flex-direction: column;
       }; 

      &__p{

         width: 40vw;

         @media only screen and (max-width:900px) {
            width: 70vw;
            margin-bottom: 5rem;
            }; 

            

      }

      &__container{
         border: 2rem solid black;
         border-radius: 5px;
         overflow: hidden;
         &__png{

            height: 40rem;
           
            transform:translate(-5%, 5%);
            transition: all 2s linear;
            
            @media only screen and (max-width:550px) {
               height: 30rem;
            }; 
            
   
         }

      }
    
   }

}

