.lawyer-chips{


   display:flex;
   justify-content: space-around;
   align-items: center;
   height: auto;
   padding: 10rem 0;

   

   &__container-1{
      @media only screen and (max-width:950px) {
         display:none;
         visibility: none;
       }; 
      width:55rem;
      height: 55rem;
      position: relative;
      // margin-left: -20rem;

      
     *{
      position: absolute;
      top:0;
      left:0;
   }

      &__lawyer{
         height: 70%;
         top:20rem;
      }

      // &__chatbox{
      //    top:5rem;
      //    left:23rem;
      // }

      &__p{
         width:5rem;
         top:17rem;
         left:35rem;
      }

   }

   &__container-2{
    
     // position:relative;
    

      &__p{
   
        
      }
   
      &__chips2{
         animation: upanddown 4s infinite;
         @media only screen and (max-width:550px) {
            width:40rem;
            height: 40rem;
            }; 
      }

   }



}