@font-face{
   font-family: Sugarpunch;
   src:url("../resources/Sugarpunch.otf");
 
 }

 @font-face{
  font-family: Badaboom;
  src:url("../resources/Badaboom.ttf");

}

@font-face{
  font-family: UnicornPop;
  src:url("../resources/UnicornPop.ttf");

}
 
 


 h1,h2,h3,h4,p,label,button,textarea,input,a{
   font-family: UnicornPop;
   text-transform: uppercase;
   color:black;
   -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
   -webkit-text-fill-color: $color-primary-5;
   line-height: .9;
 }

label,button{
  font-size: 3rem;
}

textarea,input{
  -webkit-text-stroke-width: 1px;
}

p{
  font-size: 4rem;
}

a{
  font-size: 4rem;
}

 h1{
  font-size: 8rem;
 }

 h2{
  font-size: 5rem;
 }


